.gitattributes text eol=lf
.gitignore text eol=lf
*.go text eol=lf
*.kage text eol=lf linguist-language=Go
*.md text eol=lf
*.yaml text eol=lf

go.mod text eol=lf
go.sum text eol=lf

*.gif binary
*.jpg binary
*.png binary

*.mp3 binary
*.ogg binary
*.wav binary
